<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
	  autoReload="true"
      >

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>

		<target xsi:type="MethodCall" name="RecordLog" className="SportsBet.Metrics.AppMetricsNLog, SportsBet.Infrastructure" methodName="RecordLogMethod" >
			<parameter layout="${logger}" />
			<parameter layout="${level}" />
		</target>

		<target name="console" xsi:type="Console">
			<layout xsi:type="JsonLayout" includeAllProperties="true" excludeProperties="message">
				<attribute name="message"			layout="${message:whenEmpty=${event-properties:item=Message}}" escapeForwardSlash="false" />
				<attribute name="exceptionType"		layout="${exception:format=Type}" />
				<attribute name="exceptionMessage"	layout="${exception:format=Message,data:maxInnerExceptionLevel=5:innerExceptionSeparator=|}" />
				<attribute name="stackTrace"		layout="${exception:format=StackTrace:exceptionDataSeparator=\r\n,method:maxInnerExceptionLevel=5}" />
				<attribute name="datetime"			layout="${date:format=o}" />
				<attribute name="logger"			layout="${logger}" />
				<attribute name="level"				layout="${level}" />
				<attribute name="traceidentifier"	layout="${aspnet-traceidentifier:whenEmpty=${activityid}}" />
			</layout>
		</target>
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="Microsoft.EntityFrameworkCore.Database.Command"	maxLevel="Debug" final="true" />

		<!-- Stop all Trace & Debug log -->
		<logger name="*" maxLevel="Debug" final="true" />

		<!--Skip non-critical Microsoft logs -->
		<logger name="Microsoft.*" maxlevel="Info" final="true" />

		<!-- All Warn logs will be written in a centralized Warnings.log file -->
		<logger name="*" level="Warn" writeTo="console,RecordLog"  final="true"/>

		<!-- All Error logs will be written in a centralized Warnings.log file -->
		<logger name="*" minlevel="Error" writeTo="console,RecordLog" final="true" />

		<!--Output hosting lifetime messages to console target for faster startup detection -->
		<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="console,,RecordLog" final="true" />

		<!-- All logs from http requests will be written in logstash and in a centralized Web.log so that you can easily find all failed requests -->
		<logger name="*ErrorHandlerMiddleware" maxLevel="Info" writeTo="console,RecordLog" />

		<!--All logs, including from Microsoft-->
		<logger name="*" minlevel="Trace" writeTo="console" />

		<!-- Unhandled -->
		<!-- All Trace,Debug,Info logs which didn't handled by any of the previous rules will be discarded -->
		<logger name="*" maxlevel="Info" final="true" />

	</rules>
</nlog>